@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    margin: 0;
    padding: 0;
    background: url("image.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .7);
    box-sizing: border-box;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, .8);
    border-radius: 10px;
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    letter-spacing: 3px;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    letter-spacing: 3px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 14px;
}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
    display: block;
    font-size: 18px;
    transition: background 1s ease;
}

.box input[type="submit"]:hover {
    background: #0d7bad;
}

h2 {
    font-size: 30px;
}

@media screen and (max-width: 420px) {}

@media screen and (max-width: 350px) {}